@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  @apply text-primary;
}

canvas {
  outline: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

button {
  @apply border border-transparent;
}

button:focus {
  @apply outline-none border-white;
}
